<div class="bg-main">
    <div class="container mx-auto py-10">
        <h2 class="mb-2 font-semibold text-xl">Get The Fresh App</h2>
        <p class='text-gray-500'>We will Send You a Link, Open it on Your Phone to download the app</p>
        <div class="flex justify-between items-center pb-2 lg:mt-4 border-b border-gray-300">
                <input type="text" placeholder="Email..." class="form-control max-md:p-5 ms-8 w-3/4">
                <button class="btn-main xl:me-8">Share App Link</button>
        </div>
    </div>
</div>