<nav class="bg-main text-main">
    <div class="max-w-screen-xl flex max-md:flex-wrap items-center justify-between mx-auto p-2">
      <a routerLink="home" class="flex items-center space-x-3 md:me-2 rtl:space-x-reverse">
        <img class="w-full" src="./assets/images/freshcart-logo.svg" alt="Fresh Cart">
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:flex md:items-center md:justify-between" id="navbar-default">
        <ul class="font-medium flex flex-col md:p-0 md:items-center  mt-4 rounded-lg md:flex-row md:space-x-1 rtl:space-x-reverse md:mt-0 md:border-0">
          <li>
            <a routerLinkActive="active-link" routerLink="home" class="block py-1 px-2" aria-current="page">Home</a>
          </li>
          <li>
            <a routerLinkActive="active-link" routerLink="products" class="block py-1 px-2" aria-current="page">products</a>
          </li>
          <li>
            <a routerLinkActive="active-link" routerLink="categories" class="block py-1 px-2" aria-current="page">categories</a>
          </li>
          <li>
            <a routerLinkActive="active-link" routerLink="brands" class="block py-1 px-2" aria-current="page">brands</a>
          </li>
        </ul>

        <ul class="font-medium flex md:p-0 md:items-center  mt-4 rounded-lg md:flex-row md:space-x-1 rtl:space-x-reverse md:mt-0 md:border-0">
          <li>
            <a routerLinkActive="active-link" routerLink="/wishlist" class="block py-1 px-1 cursor-pointer"><i class="fa-solid fa-heart fa-xl"></i></a>
          </li>
          <li>
            <a routerLinkActive="active-link" routerLink="/cart" class="block py-1 px-2 me-2" aria-current="page">
              
              <button type="button" class="relative inline-flex items-center text-sm font-medium text-center p-1">
                <i class="fa-solid fa-cart-shopping fa-xl"></i>
                <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-gray-600 border-2 border-white rounded-full -top-3 -end-3">{{cartCount}}</div>
              </button>
  
            </a>
          </li>
          <li>
            <a class="block py-1 px-1 cursor-pointer"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a class="block py-1 px-1 cursor-pointer"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a class="block py-1 px-1 cursor-pointer"><i class="fab fa-tiktok"></i></a>
          </li>
          <li>
            <a class="block py-1 px-1 cursor-pointer"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a class="block py-1 px-1 cursor-pointer"><i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a class="block max-md:me-4 md:me-2 py-1 px-1 cursor-pointer"><i class="fab fa-youtube"></i></a>
          </li>

          <button (click)="_AuthService.logout()" class="btn-main bg-main">Sign Out</button>

        </ul>
      </div>
    </div>
  </nav>
  